
.container {
  position: relative;
}

.img {
  width: 100vw;
}

.bgContainer {
  height: 683px;
  width: 100vw;
  overflow: hidden;
}

.bgLineContainer {
  width: 100%;
  height: 40px;
  position: relative;
  /* top: -20px; */
  display: flex;
  flex-direction: row;
  overflow: hidden;
  animation: App-logo-spin infinite 0.5s linear;
}
.bgImg {
  display: block;
  width: 80px;
  height: 40px;
  font-size:0px;
  margin-left: -1px;
  margin-bottom: -1px;
}

@keyframes App-logo-spin {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-40px);
  }
}

.infoContainer {
  position: absolute;
  top: 114px;
  left: calc((100vw - 100vw * (351/ 375)) / 2);
  width: calc(100vw * (351/ 375));
  height: calc(100vw * (394 / 375));
}