
.container {
  position: relative;
}

.img {
  width: 100vw;
  height: auto;
}

.bgContainer {
  height: calc(100vw * (683 / 375) + env(safe-area-inset-top));
  width: 100vw;
  overflow: hidden;
}

.bgLineContainer {
  width: 100%;
  height: 40px;
  position: relative;
  /* top: -20px; */
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-bottom: -1px;
  animation: bg-img-transform infinite 0.5s linear;
}
.bgImg {
  display: block;
  font-size: 0px;
  width: 80px;
  height: 40px;
  /* margin-left: -0.5px; */
}

@keyframes bg-img-transform {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-40px);
  }
}

.titleBar {
  position: absolute;
  top: calc(100vw * (10 / 375) + env(safe-area-inset-top));
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.leftArrow {
  position: absolute;
  border-left: #fff 1.5px solid;
  border-bottom: #fff 1.5px solid;
  width: calc(100vw * (7 / 375));
  height: calc(100vw * (7 / 375));
  background-color: transparent;
  left: 20px;
  transform: rotate(45deg);
}

.title {
  font-size: calc(100vw * 18 / 375);
  font-family: PingFangSC-Regular, sans-serif;
  color: #fff;
}

.rightIcon {
  position: absolute;
  right: 5px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 4px 14px;
  border: rgba(255, 255, 255, 0.2) calc(100vw * (1 / 375)) solid;
}

.left {
  display: flex;
  align-items: center;
}

.middle {
  margin: 0 calc(100vw * (10 / 375));
  width: calc(100vw * (1 / 375));
  height: calc(100vw * (21 / 375));
  background-color: rgba(255, 255, 255, 0.3);
}
.circle {
  background-color: #fff;
  border-radius: 100%;
}

.smallCircle {
  width: calc(100vw * (4/ 375));
  height: calc(100vw * (4 / 375));
}

.bigCircle {
  width: calc(100vw * (7 / 375));
  height: calc(100vw * (7 / 375));
  margin: 0 calc(100vw * (2 / 375));
}

.middleCircle {
  width: calc(100vw * (6 / 375));
  height: calc(100vw * (6 / 375));
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw * (12 / 375));
  height: calc(100vw * (12 / 375));
  border: #fff calc(100vw * (2 / 375)) solid;
  background-color: transparent;
}

.infoContainer {
  position: absolute;
  top: calc(100vw * (70 / 375) + env(safe-area-inset-top));
  left: calc((100vw - 100vw * (351/ 375)) / 2);
  width: calc(100vw * (351/ 375));
  height: calc(100vw * (394 / 375));
}

.address {
  position: absolute;
  top: calc(100vw * ((12 + 70) / 375) + env(safe-area-inset-top));
  left: calc((100vw - 100vw * (351 / 375)) / 2 + 100vw * (26/ 375));
  background-color: rgb(232, 241, 251);
  color: rgb(20, 20, 20);
  font-size: calc(100vw * 16 / 375);
  font-family: PingFangSC-Medium, sans-serif;
  width: calc(100vw * (80 / 375));
  text-align: center;
}

.name {
  position: absolute;
  top: calc(100vw * ((12 + 70) / 375) + env(safe-area-inset-top));
  left: calc((100vw - 100vw * (351/ 375)) / 2 + 100vw * (130/ 375));
  background-color: rgb(232, 241, 251);
  color: rgb(20, 20, 20);
  font-size: calc(100vw * 16 / 375);
  font-family: PingFangSC-Medium, sans-serif;
  width: calc(100vw * (90 / 375));
  text-align: center;
}

.time {
  position: absolute;
  top: calc(100vw * ((58 + 70) / 375) + env(safe-area-inset-top));
  left: calc((100vw - 100vw * (351/ 375)) / 2 + 100vw * (58/ 375));
  width: calc(100vw * (240 / 375));
  text-align: center;
  background-color: #fff;
  color: #000;
  font-size: calc(100vw * 31 / 375);
  font-family: PingFangSC-Semibold, sans-serif;
}

.otherInfoContainer {
  position: absolute;
  top: calc(100vw * ((394 + 70 + 8) / 375) + env(safe-area-inset-top));
  left: calc((100vw - 100vw * (352/ 375)) / 2);
  width: calc(100vw * (352/ 375));
  height: calc(100vw * (126 / 375));
}

.text {
  position: absolute;
  top: calc(100vw * ((394 + 70 + 6 + 126 + 12) / 375) + env(safe-area-inset-top));
  font-size: calc(100vw * 16 / 375);
  font-family: PingFangSC-Regular, sans-serif;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}